@{
    Layout = "_RegisterLayout";
}

@model GymApp.DTO.ChangePasswordDTO

<div class="container">
    <form asp-controller="Auth" asp-action="ChangePassword" method="post">
        <h1>Change Password</h1>

        <div class="input-box">
            <p>Email</p>

            <input type="email" placeholder="Email" asp-for="Email"></input>

            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="input-box">
            <p>New Password</p>

            <input type="password" placeholder="New Password" asp-for="NewPassword"></input>

            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="input-box">
            <p>Confirm New Password</p>

            <input type="password" placeholder="Confirm Password" asp-for="ConfirmNewPassword"></input>

            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <button class="btn" type="submit">Change</button>

    </form>
</div>
