@{
    Layout = "_LoginLayout";
}

@model GymApp.Models.ViewModels.LoginViewModel;

<div class="container">
  <form asp-controller="Auth" asp-action="Login" method="post">
    <h1>Login</h1>

    <div class="input-box">
        <p>Email</p>

        <input type="email" placeholder="Email" asp-for="Email"></input>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="input-box">
        <p>Password</p>

        <input type="password" placeholder="Password" asp-for="Password"></input>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="remember-forget">
        <label>
            <input type="checkbox"></input>
            Remember Me 
            <a asp-controller="Auth" asp-action="VerifyEmail">Forgot Password</a>
        </label>
        
    </div>

    <button type="submit">Login</button>

    <div class="register-link">
        <p>Don't have an account?
            <a href="/Auth/Register">Register</a>
        </p>
    </div>

    <div class="back-link">
        <a href="/Home/Index">Back</a>
    </div>

  </form>
</div>