@using GymApp.GymApp.Application.DTO
@{
    Layout = "_AddLayout";
}

@model AddTrainersDTO

<div class="container">
    <form asp-controller="Trainers" asp-action="AddTrainersForm">

        <h1>Add New Trainer</h1>

        <div class="input-box">

            <p>First Name</p>

            <input type="text" placeholder="First Name" asp-for="FirstName"></input>

            <span class="text-danger" asp-validation-for="FirstName"></span>
        </div>

        <div class="input-box">

            <p>Last Name</p>

            <input type="text" placeholder="Last Name" asp-for="LastName"></input>

            <span class="text-danger" asp-validation-for="LastName"></span>

        </div>

        <div class="input-box">

            <p>BIO</p>

            <input type="text" placeholder="BIO" asp-for="Bio">

            <span class="text-danger" asp-validation-for="Bio"></span>

        </div>

        <div class="input-box">
            <p>Photo Path</p>

            <input type="text" placeholder="PhotoPath" asp-for="PhotoPath">

            <span class="text-danger" asp-validation-for="PhotoPath"></span>
        </div>

        <div class="btn-submit">

            <button class="btn-submit" type="submit">Add</button>

        </div>
       

        <div class="back-link">

            <a href="/Home/Index">Back</a>

        </div>
    </form>
</div>