@using GymApp.GymApp.Application.DTO
@{
    Layout = "_Layout";
}

@model List<GetMembershipsDTO>

<div class="buymembership-view">

    @foreach (var membership in Model)
    {
        <a asp-controller="Membership" asp-action="BuyMembership" asp-route-MembershipId="@membership.Id" class="buy-link">


            <div class="membership-card">
                <h1>@membership.Name Membership</h1>

                <p>@membership.PricePerMonth zł per month</p>
               
                <div class="benefits">
                    <ul>                                              
                        <li>Unlimited access to the strength zone and fitness classes </li>
                        <li>Access to sauna</li>
                        <li>One training with trainer for free</li>
                    </ul>
                </div>

            </div>
        </a>

        
    }

    
    
</div>